MYSQL_DATABASE=credit_card_payment_db
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
DB_NAME=credit_card_payment_db
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=mysql
DB_PORT=3306
DJANGO_SECRET_KEY=your_django_secret_key
